# Ignore everything by default
/*

# Do not ignore the lib directory and its contents
!/lib/
!/lib/**

# Do not ignore README.md
!/README.md

!/pubspec.yaml

# Keep .gitignore itself tracked
!/.gitignore